.container {
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
}
.dice {
    text-align: center;
    display: inline-block;
}
body {
    background-color: #000000;
    text-align: center;
}
h1 {
    margin: 10px;
    font-family: 'IM Fell DW Pica';
    font-size: 150px;
    color: #ffffff;
    font-style: italic;
}
p {
    font-size: 25px;
    color: #ffffff;
    font-family: 'IM Fell DW Pica';
}
.btn {
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24; 
    color: white;
}
img {
    width: 60%;
}
footer {
    margin-top: 5px;
    color: #EEEEEE;
    text-align: center;
    font-family: 'IM Fell DW Pica';
    font-style: italic;
}  
